

kw-match-box {
   max-width: 80px;
   min-width: 30px;
   height: 50px;
}

kw-match-box-win {
   background-color: green;
}

kw-match-box-lose {
   background-color: red;
}

kw-match-box-draw {
   background-color: yellow;
}
