<!doctype html>
<html ng-app="teamPerformanceWidget">
<head>
   <title>Team Performance Widget</title>
   <meta charset="UTF-8">
   <meta name="apple-mobile-web-app-title" content="Kambi">
   <meta name="description" content="Team Performance Widget">
   <meta name="HandheldFriendly" content="True">
   <meta name="MobileOptimized" content="320">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

   <meta name="fragment" content="!"/>

   <meta name="mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   <meta name="apple-mobile-web-app-title" content="">

   <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
   <!-- build:css -->
   <!-- This section will be replaced in the gulp build process -->
   <link rel="stylesheet" type="text/css" href="css/app.css"/>
   <!-- endbuild -->

   <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>


   <script src="js/mockdata.js"></script> <!-- remove once we can get real data from the kambi API -->

   <!-- build:js -->
   <!-- This section will be replaced in the gulp build process -->
   <script src="js/app.js"></script>
   <script src="js/controllers/appController.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/controllers/widgetCoreController.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/kambiWidgetService.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/kambiAPIService.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/coreUtilsService.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-core-translate/dist/translate.js"></script>
   <!-- endbuild -->
   <script src="https://c3-static.kambi.com/sb-mobileclient/widget-api/1.0.0.7/kambi-widget-api.js"></script>
</head>
<body class="kw-body">
<div class="kw-card l-flexbox l-vertical l-expander" ng-controller="appController">

   <!--Header-->
   <header class="kw-header l-pl-16 l-flexbox l-horizontal">
      <div>{{args.title}}</div>
   </header>

   <!--Main-->
   <main class='vine l-flexbox l-vertical l-flexed l-pack-start l-pl-16 l-pb-16 l-pr-16'>
      <div class='l-flexbox l-vertical l-mb-12 l-mt-12 l-pl-16 l-pr-16 kw-team-wrapper'
         ng-repeat='team in teams | limitTo : args.numberMatchesPerTeam'>
         <div>{{team.name}}</div>
         <div class='l-flexbox l-horizontal l-pack-justify kw-box-wrapper'>
            <div
               class='l-flexbox l-m-6 l-pack-center l-align-center
                kw-match-box kw-match-{{match.result}}'
               ng-repeat='match in team.matchHistory'>
               {{match.resultText}}
            </div>
         </div>
         <div class='l-flexbox l-horizontal l-pack-center l-m-6'>
            <div class='l-flexbox kw-bar kw-match-win'
               ng-style='{"flex-grow": team.performance}'>
            </div>
            <div class='l-flexbox kw-bar'
               ng-style='{"flex-grow": (1-team.performance)}'></div>
            <div ng-style='{"flex-grow": 0 }'>
               &nbsp&nbsp{{team.performance}}%
            </div>
         </div>
      </div>
   </main>

</div>
</body>
</html>
