<!doctype html>
<html ng-app="teamPerformanceWidget">
<head>
   <title>Team Performance Widget</title>
   <meta charset='UTF-8'>
   <meta name='apple-mobile-web-app-title' content='Kambi'>
   <meta name='description' content='Team Performance Widget'>
   <meta name='HandheldFriendly' content='True'>
   <meta name='MobileOptimized' content='320'>
   <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui'>

   <meta name='fragment' content='!'/>

   <meta name='mobile-web-app-capable' content='yes'>
   <meta name='apple-mobile-web-app-capable' content='yes'>
   <meta name='apple-mobile-web-app-status-bar-style' content='black'>
   <meta name='apple-mobile-web-app-title' content=''>

   <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
   <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'/>
   <!-- build:css -->
   <!-- This section will be replaced in the gulp build process -->
   <link rel='stylesheet' type='text/css' href='css/app.css'/>
   <!-- endbuild -->

   <script src='//code.jquery.com/jquery-2.2.0.min.js'></script>
   <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
   <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js'></script>
   <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js'></script>
   <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js'></script>
   <!-- build:js -->
   <!-- This section will be replaced in the gulp build process -->
   <script src="js/app.js"></script>
   <script src="js/controllers/appController.js"></script>
   <!-- endbuild -->
   <!-- build:corelib -->
   <!-- This section will be replaced in the gulp build process -->
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/controllers/widgetCoreController.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/filters/startFrom.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/kambiWidgetService.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/kambiAPIService.js"></script>
   <script src="../node_modules/kambi-sportsbook-widget-library/src/js/services/coreUtilsService.js"></script>
   <!-- endbuild -->
   <!-- build:translate -->
   <!-- This section will be replaced in the gulp build process -->
   <script src="../node_modules/kambi-sportsbook-widget-core-translate/dist/translate.js"></script>
   <!-- endbuild -->
   <script src="https://c3-static.kambi.com/sb-mobileclient/widget-api/1.0.0.7/kambi-widget-api.js"></script>
</head>
<body class='kw-body' ng-controller='appController'>
<div class='l-flexbox l-vertical kw-wrapper'>
   <div style='position:relative;' get-height>
      <header class='kw-header l-pl-16 l-flexbox l-horizontal'>
         <div>{{args.title}}</div>
      </header>
      <main class='l-flexbox l-vertical l-flexed l-pack-start l-pb-16'>
         <div
            class='l-flexbox l-vertical kw-team-wrapper l-pt-12 l-pb-12'
            ng-repeat='team in teams | startFrom: startFrom | limitTo : args.listLimit'>

            <input class='kw-accordion' type='checkbox' ng-model='team.detailed' ng-change='adjustHeight()'/>
            <div class='l-flexbox l-horizontal l-p-6 l-pl-16 l-pr-16 l-align-center'>
               <div class='l-flex-1 kw-title'>{{team.name}}</div>
               <i class='ion-chevron-up kw-expand-icon'></i>
            </div>


            <!-- boxes all matches -->
            <div class='l-flex-1 l-p-6 l-pl-16 l-pr-16'>{{"All Games" | translate}}</div>
            <div class='l-flexbox l-horizontal l-p-6 l-pl-16 l-pr-16'>
               <div
                  title='{{match.tooltipText}}'
                  class='l-flexbox l-pack-center l-align-center
                   kw-match-box kw-match-{{match.result}}'
                  ng-repeat='match in team.matchHistory'>
                  {{match.result | translate}}
               </div>
            </div>

            <!-- performance bar -->
            <div class='l-flexbox l-horizontal l-pack-center l-p-6 l-pl-16 l-pr-16'>
               <div class='l-flexbox kw-bar kw-match-win'
                    ng-style='{"flex-grow": team.performance}'>
               </div>
               <div class='l-flexbox kw-bar'
                    ng-style='{"flex-grow": (1-team.performance)}'></div>
               <div ng-style='{"flex-grow": 0 }'>
                  &nbsp&nbsp{{Math.round(team.performance*100)}}%
               </div>
            </div>

            <!-- hidden part of the team information -->
            <div class='l-flexbox l-vertical l-pack-center kw-detail'>
               <!-- boxes home matches -->
               <div class='l-flex-1 l-p-6 l-pl-16 l-pr-16'>{{"Home Games" | translate}}</div>
               <div class='l-flexbox l-horizontal l-p-6 l-pl-16 l-pr-16'>
                  <div
                     title='{{match.tooltipText}}'
                     class='l-flexbox l-pack-center l-align-center
                      kw-match-box kw-match-{{match.result}}'
                     ng-repeat='match in team.matchHistoryHome'>
                     {{match.result | translate}}
                  </div>
               </div>

               <!-- boxes away matches -->
               <div class='l-flex-1 l-p-6 l-pl-16 l-pr-16'>{{"Away Games" | translate}}</div>
               <div class='l-flexbox l-horizontal l-p-6 l-pl-16 l-pr-16'>
                  <div
                     title='{{match.tooltipText}}'
                     class='l-flexbox l-pack-center l-align-center
                      kw-match-box kw-match-{{match.result}}'
                     ng-repeat='match in team.matchHistoryAway'>
                     {{match.result | translate}}
                  </div>
               </div>

               <div class='l-flexbox l-vertical kw-table'>
                  <div class='kw-table-header kw-border-bottom l-p-6 l-pl-16 l-pr-16 l-flexbox l-horizontal l-align-center'>
                     <div data-item-attr='date' class='l-flex-4 text-truncate ng-binding ng-scope'>
                        {{"Date" | translate}}
                     </div>
                     <div data-item-attr='home' class='l-flex-5 text-truncate ng-binding ng-scope'>
                        {{"Home" | translate}}
                     </div>
                     <div data-item-attr='score' class='l-flex-2 text-truncate ng-binding ng-scope'>
                        {{"Score" | translate}}
                     </div>
                     <div data-item-attr='away' class='l-flex-5 text-truncate ng-binding ng-scope'>
                        {{"Away" | translate}}
                     </div>
                  </div>
                  <div
                     class='kw-table-item l-p-6 l-pl-16 l-pr-16 l-flexbox l-horizontal l-align-center ng-scope'
                     ng-repeat='match in team.matchHistory'>

                     <div data-item-attr='date' class='l-flex-4 ng-binding ng-scope'>
                        {{match.dateText}}
                     </div>
                     <div data-item-attr='home' class='l-flex-5 ng-binding ng-scope'>
                        {{match.homeTeam}}
                     </div>
                     <div data-item-attr='score' class='l-flex-2 ng-binding ng-scope'>
                        {{match.homeScore}} - {{match.awayScore}}
                     </div>
                     <div data-item-attr='away' class='l-flex-5 ng-binding ng-scope'>
                        {{match.awayTeam}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer class="kw-footer">
         <kambi-pagination-directive class="kw-pagination l-flexbox l-pack-center l-align-center"
                                     list="teams"
                                     pages="pages"
                                     start-from="startFrom"
                                     list-limit="args.listLimit"
                                     ng-click="adjustHeight()">
         </kambi-pagination-directive>
      </footer>
   </div>
</div>
</body>
</html>
